# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# VS Code
.vscode/
.idea/

# Environment variables
.env
.env.*

# Data
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# Generated reports
reports/generated/

# Logs
*.log

# Machine learning models
models/*.joblib
models/*.pkl

# OS
.DS_Store
Thumbs.db